<?xml version="1.0" encoding="utf-8"?>
<manifest
        xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="nm.security.namooprotector"
        android:installLocation="internalOnly">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" tools:ignore="ProtectedPermissions"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.USE_BIOMETRIC"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
            android:name=".NamooProtector"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:supportsRtl="true"
            android:allowBackup="true"
            tools:ignore="GoogleAppIndexingWarning">

        <!--액티비티-->

        <activity
            android:name=".activity.LockScreen"
            android:theme="@style/TransparentTheme"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleInstance"
            android:excludeFromRecents="true"/>

        <activity android:name=".activity.MainActivity">

            <intent-filter>

                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>

        <activity
            android:name=".activity.AboutActivity"
            android:theme="@style/SharedTheme"/>

        <activity
            android:name=".activity.SupportActivity"
            android:theme="@style/SharedTheme"/>

        <activity
            android:name=".activity.PinActivity"
            android:theme="@style/SharedTheme"/>

        <activity
            android:name=".activity.PatternActivity"
            android:theme="@style/SharedTheme"/>

        <activity
            android:name=".activity.AddAppActivity"
            android:theme="@style/TransparentTheme"
            android:excludeFromRecents="true"/>

        <activity
            android:name=".activity.ZBackupActivity"
            android:theme="@style/SharedTheme"/>

        <activity
            android:name=".activity.ZRestoreActivity"
            android:theme="@style/SharedTheme"/>

        <!--서비스-->

        <service android:name=".service.ProtectorService"/>

        <!--리시버-->

        <receiver
            android:name=".fragment.SettingsFragment$DeviceAdminHelper"
            android:permission="android.permission.BIND_DEVICE_ADMIN">

            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin" />

            <intent-filter>

                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />

            </intent-filter>

        </receiver>

        <receiver
            android:name=".receiver.InstallReceiver"
            android:enabled="true"
            android:exported="true">

            <intent-filter>

                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <data android:scheme="package"/>

            </intent-filter>

        </receiver>

        <receiver
            android:name=".receiver.BootReceiver"
            android:enabled="true"
            android:exported="true">

            <intent-filter>

                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />

            </intent-filter>

        </receiver>

        <receiver
            android:name=".receiver.UpdateReceiver"
            android:enabled="true"
            android:exported="true">

            <intent-filter>

                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />

            </intent-filter>

        </receiver>

        <!--메타데이터-->

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-8836936338107765~2258517133"/>

    </application>

</manifest>